{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<!-- ✅ Popup -->
{% if success %}
<script>
    alert("Feedback submitted successfully ✅");
</script>
{% endif %}

<form method="post" style="max-width:600px; margin:auto; background:#f4f4f4; padding:30px; border-radius:8px; box-shadow:0 0 10px rgba(0,0,0,0.1);">
    {% csrf_token %}

    <label>ame:</label>
    <input type="text" name="name" class="form-control" required><br>

    <label>Email:</label>
    <input type="email" name="email" class="form-control" required><br>

    <label>Message:</label>
    <textarea name="message" rows="5" class="form-control"></textarea><br>

    <input type="submit" value="Submit" class="btn btn-primary">
</form>

{% endblock %}