{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}

<div class="container mt-5">

    <!-- FUTSAL DETAILS -->
    <div class="card mb-4">
        <img src="{{ futsal.image.url }}" style="height:400px; object-fit:cover;">
        <div class="card-body">
            <h2>{{ futsal.name }}</h2>
            <p>{{ futsal.location }}</p>
            <p>Base Price: Rs. {{ futsal.price_per_hour }}</p>
        </div>
    </div>
</div>
<div class="card p-4 mb-4">
    <h4>Select Manually</h4>

    <form method="POST">
        {% csrf_token %}

        <input type="date" id="dateInput" name="date" class="form-control mb-2" required>
        <input type="time" id="timeInput" name="time" class="form-control mb-2" required>

        <button class="btn btn-success">Book Now</button>
    </form>
</div>

    <!-- DATE SELECT -->
    <form method="GET" class="text-center mb-4">
        <select name="date" onchange="this.form.submit()" class="form-select w-50 mx-auto">
            {% for day n week_dates %}
                <option value="{{ day|date:'Y-m-d' }}"
                    {% if day == selected_date %}selected{% endif %}>
                    {{ day|date:"l, d M" }}
                </option>
            {% endfor %}
        </select>
    </form>
    

    <!-- SLOTS -->
    <div class="row text-center">

        {% for slot in time_slots %}
            {% if slot in booked_times %}
                <div class="col-md-3 mb-3">
                    <div class="p-3 bg-danger text-white rounded">
                        {{ slot|time:"h A" }} <br> ❌ Booked
                    </div>
                </div>
            {% else %}
                <div class="col-md-3 mb-3">
                    <div class="p-3 bg-success text-white rounded slot-box"
                        onclick="selectSlot('{{ selected_date|date:'Y-m-d' }}', '{{ slot|time:'H:i' }}')">

                        {{ slot|time:"h A" }} <br>

                        💰 Rs. {{ slot_prices|get_item:slot }} <br>

                        {% if slot in peak_slots %}
                            🔥 Peak
                        {% elif is_weekend %}
                            🎉 Weekend
                        {% else %}
                            🟢 Normal
                        {% endif %}

                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>

</div>

<script>
function selectSlot(date, time) {
    document.getElementById("dateInput").value = date;
    document.getElementById("timeInput").value = time;
    window.scrollTo({ top: 200, behavior: 'smooth' });
}
</script>

<style>
.slot-box {
    cursor: pointer;
    transition: 0.2s;
}
.slot-box:hover {
    transform: scale(1.05);
}
</style>

{% endblock %}